Repository Yuliya-Karuk/fun-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: implement WebSocketHandler class; implement navigation to Chat page
  src/app/app.ts
  src/app/model/auth.ts
  src/app/ws/ws.ts
  src/components/authForm/authForm.module.scss
  src/components/authForm/authForm.ts
  src/components/loginForm/loginForm.ts
  src/controllers/appController.ts
  src/pages/about/about.module.scss
  src/pages/auth/auth.ts
  src/pages/auth/authView.ts
  src/pages/chat/chat.module.scss
  src/pages/chat/chat.ts
  src/types/enums.ts
  src/types/interfaces.ts
  src/types/types.ts
  src/utils/constants.ts
  src/utils/eventBus.ts
  src/utils/utils.ts
  src/utils/validityFunctions.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: add functionality for Auth by Enter key
  src/pages/auth/auth.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add header on Chat page
  src/app/model/auth.ts
  src/app/ws/ws.ts
  src/components/authForm/authForm.ts
  src/components/header/header.module.scss
  src/components/header/header.ts
  src/controllers/appController.ts
  src/pages/chat/chat.ts
  src/pages/chat/chatView.ts
  src/types/interfaces.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: add contacts block on chat page
  src/app/model/auth.ts
  src/app/model/users.ts
  src/app/ws/ws.ts
  src/components/authForm/authForm.ts
  src/components/contact/contact.module.scss
  src/components/contact/contact.ts
  src/components/footer/footer.module.scss
  src/components/footer/footer.ts
  src/components/main/main.module.scss
  src/components/main/main.ts
  src/components/searchForm/searchForm.module.scss
  src/components/searchForm/searchForm.ts
  src/img/search.svg
  src/pages/auth/auth.ts
  src/pages/chat/chat.module.scss
  src/pages/chat/chat.ts
  src/pages/chat/chatView.ts
  src/styles/constants.css
  src/types/enums.ts
  src/utils/constants.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: add Storage service
  src/app/app.ts
  src/app/ws/ws.ts
  src/controllers/appController.ts
  src/pages/auth/auth.ts
  src/pages/chat/chat.ts
  src/pages/chat/chatView.ts
  src/router/router.ts
  src/services/storage.service.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add navigation between links and setting header links
  src/components/appImageBlock/appImage.module.scss
  src/components/appImageBlock/appImage.ts
  src/components/authForm/authForm.module.scss
  src/components/authForm/authForm.ts
  src/components/header/header.module.scss
  src/components/header/header.ts
  src/controllers/appController.ts
  src/pages/about/about.module.scss
  src/pages/about/about.ts
  src/pages/about/aboutView.ts
  src/pages/auth/auth.module.scss
  src/pages/auth/auth.ts
  src/pages/auth/authView.ts
  src/pages/chat/chat.ts
  src/pages/chat/chatView.ts
  src/types/enums.ts
  src/utils/constants.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: implement logout functionality
  src/controllers/appController.ts
  src/pages/about/about.ts
  src/pages/chat/chat.ts
  src/router/router.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add layout for messages area
  src/components/chatArea/chatArea.module.scss
  src/components/chatArea/chatArea.ts
  src/components/contact/contact.module.scss
  src/components/main/main.module.scss
  src/components/messageForm/messageForm.module.scss
  src/components/messageForm/messageForm.ts
  src/components/searchForm/searchForm.ts
  src/img/send.svg
  src/pages/chat/chat.module.scss
  src/pages/chat/chat.ts
  src/pages/chat/chatView.ts
  src/utils/constants.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: add functionality to Logout user in WS
  src/app/ws/ws.ts
  src/pages/chat/chat.ts
  src/types/enums.ts
Due: npm run prettier:fix, npm run lint:fix

fix: change functionality to render Chat Area
  src/app/ws/ws.ts
  src/components/chatArea/chatArea.module.scss
  src/components/chatArea/chatArea.ts
  src/components/contact/contact.ts
  src/components/messageForm/messageForm.module.scss
  src/components/messageForm/messageForm.ts
  src/controllers/appController.ts
  src/pages/chat/chat.ts
  src/types/enums.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: create State Storage for chat page
  src/app/controllers/contactController/contactController.ts
  src/app/model/auth.ts
  src/app/ws/ws.ts
  src/components/contact/contact.ts
  src/pages/chat/chat.ts
  src/services/state.service.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add modal for server error response
  src/app/controllers/modalController/modalController.ts
  src/app/model/error.ts
  src/app/ws/ws.ts
  src/components/modal/modal.module.scss
  src/components/modal/modal.ts
  src/controllers/appController.ts
  src/pages/auth/auth.ts
  src/pages/chat/chat.ts
  src/services/storage.service.ts
  src/types/enums.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

refactor: divide Chat page controller on two: ContactsController and DialogController
  src/app/controllers/contactsController/contactsController.ts
  src/app/controllers/dialogController/dialogController.ts
  src/app/model/message.ts
  src/app/ws/ws.ts
  src/components/chatArea/chatArea.module.scss
  src/components/chatArea/chatArea.ts
  src/components/contacts/contacts.module.scss
  src/components/contacts/contacts.ts
  src/pages/chat/chat.module.scss
  src/pages/chat/chat.ts
  src/pages/chat/chatView.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: add functionality for rendering message
  .eslintrc.json
  src/app/controllers/dialogController/dialogController.ts
  src/app/model/message.ts
  src/app/ws/ws.ts
  src/components/chatArea/chatArea.module.scss
  src/components/chatArea/chatArea.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: add functionality for rendering history messages
  src/app/controllers/dialogController/dialogController.ts
  src/app/model/message.ts
  src/app/ws/ws.ts
  src/components/chatArea/chatArea.module.scss
  src/components/chatArea/chatArea.ts
  src/components/contacts/contacts.module.scss
  src/pages/chat/chat.ts
  src/types/enums.ts
  src/utils/constants.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: implement message Controller and View
  .DS_Store
  .eslintignore
  .gitignore
  .lintstagedrc.json
  index.html
  src/.DS_Store
  src/app/app.ts
  src/app/controllers/appController.ts
  src/app/controllers/contactController/contactController.ts
  src/app/controllers/contactsController/contactsController.ts
  src/app/controllers/dialogController/dialogController.ts
  src/app/controllers/messageController/messageController.ts
  src/components/chatArea/chatArea.module.scss
  src/components/chatArea/chatArea.ts
  src/components/contact/contact.module.scss
  src/components/contact/contact.ts
  src/components/message/message.module.scss
  src/components/message/message.ts
  src/img/checked.svg
  src/img/double-checked.svg
  src/services/state.service.ts
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: handle delivered/undelivered status
  .eslintrc.json
  .lintstagedrc.json
  src/app/controllers/contactsController/contactsController.ts
  src/app/controllers/dialogController/dialogController.ts
  src/app/controllers/messageController/messageController.ts
  src/app/model/message.ts
  src/app/ws/ws.ts
  src/components/chatArea/chatArea.ts
  src/components/contacts/contacts.ts
  src/components/message/message.module.scss
  src/components/message/message.ts
  src/pages/about/about.ts
  src/pages/auth/auth.ts
  src/pages/chat/chat.ts
  src/services/state.service.ts
  src/services/storage.service.ts
  src/types/enums.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: implement changing status read/delivered
  .DS_Store
  src/app/controllers/contactController/contactController.ts
  src/app/controllers/contactsController/contactsController.ts
  src/app/controllers/dialogController/dialogController.ts
  src/app/controllers/messageController/messageController.ts
  src/app/model/message.ts
  src/app/ws/ws.ts
  src/components/chatArea/chatArea.ts
  src/components/contact/contact.ts
  src/components/message/message.ts
  src/pages/chat/chat.ts
  src/services/state.service.ts
  src/types/enums.ts
Due: npm run prettier:fix, npm run lint:fix

feat: implement Delimeter
  src/app/controllers/contactController/contactController.ts
  src/app/controllers/contactsController/contactsController.ts
  src/app/controllers/dialogController/dialogController.ts
  src/components/chatArea/chatArea.module.scss
  src/components/chatArea/chatArea.ts
  src/services/state.service.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: add adaptivity for Login and About pages
  src/components/appImageBlock/appImage.module.scss
  src/components/authForm/authForm.module.scss
  src/components/chatArea/chatArea.module.scss
  src/components/footer/footer.module.scss
  src/components/header/header.module.scss
  src/components/header/header.ts
  src/components/modal/modal.module.scss
  src/pages/about/about.module.scss
  src/pages/auth/auth.module.scss
  src/pages/chat/chat.module.scss
  src/styles/button.scss
  src/styles/constants.css
  src/styles/mixins.scss
  src/styles/placeholders.scss
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: add adaptivity for Chat Page
  src/components/appImageBlock/appImage.module.scss
  src/components/authForm/authForm.module.scss
  src/components/chatArea/chatArea.module.scss
  src/components/contact/contact.module.scss
  src/components/contacts/contacts.module.scss
  src/components/footer/footer.module.scss
  src/components/footer/footer.ts
  src/components/header/header.module.scss
  src/components/header/header.ts
  src/components/message/message.module.scss
  src/pages/about/about.module.scss
  src/pages/chat/chat.module.scss
  src/styles/constants.css
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: add favicon; add clearing auth inputs
  index.html
  src/.DS_Store
  src/components/authForm/authForm.ts
  src/img/favicon.ico
  src/pages/auth/auth.ts
  src/pages/auth/authView.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add search by name in Contacts; change validity functions
  src/app/controllers/contactController/contactController.ts
  src/app/controllers/contactsController/contactsController.ts
  src/components/authForm/authForm.module.scss
  src/components/authForm/authForm.ts
  src/components/chatArea/chatArea.module.scss
  src/components/contact/contact.module.scss
  src/components/contact/contact.ts
  src/components/contacts/contacts.module.scss
  src/components/contacts/contacts.ts
  src/components/header/header.module.scss
  src/components/message/message.module.scss
  src/components/modal/modal.module.scss
  src/components/searchForm/searchForm.module.scss
  src/pages/auth/auth.ts
  src/services/state.service.ts
  src/styles/button.scss
  src/styles/constants.css
  src/types/types.ts
  src/utils/constants.ts
  src/utils/validityFunctions.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: implement editing messages
  src/app/controllers/dialogController/dialogController.ts
  src/app/controllers/messageController/messageController.ts
  src/app/model/message.ts
  src/app/ws/ws.ts
  src/components/chatArea/chatArea.module.scss
  src/components/chatArea/chatArea.ts
  src/components/message/message.module.scss
  src/components/message/message.ts
  src/services/state.service.ts
  src/types/enums.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: add functionality for deleting message
  src/app/controllers/dialogController/dialogController.ts
  src/app/controllers/messageController/messageController.ts
  src/app/model/message.ts
  src/app/ws/ws.ts
  src/services/state.service.ts
  src/types/enums.ts
Due: npm run prettier:fix, npm run lint:fix

feat: remove console
  src/app/controllers/contactsController/contactsController.ts
  src/app/ws/ws.ts
  src/services/state.service.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add functionality for reconnecting server
  src/app/app.ts
  src/app/controllers/appController.ts
  src/app/controllers/dialogController/dialogController.ts
  src/app/controllers/modalController/modalController.ts
  src/app/ws/ws.ts
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

fix: fix UI bugs and auth bugs
  src/app/app.ts
  src/app/controllers/appController.ts
  src/app/controllers/contactController/contactController.ts
  src/app/controllers/contactsController/contactsController.ts
  src/app/controllers/dialogController/dialogController.ts
  src/app/ws/ws.ts
  src/components/chatArea/chatArea.module.scss
  src/components/chatArea/chatArea.ts
  src/components/contact/contact.module.scss
  src/components/contacts/contacts.module.scss
  src/components/footer/footer.module.scss
  src/components/header/header.module.scss
  src/components/message/message.module.scss
  src/components/modal/modal.module.scss
  src/pages/chat/chat.module.scss
  src/pages/chat/chat.ts
  src/router/router.ts
  src/services/state.service.ts
  src/styles/button.scss
  src/utils/constants.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

refactor: change WebSocket handling requests and responses
  .eslintrc.json
  src/app/controllers/appController.ts
  src/app/controllers/contactController/contactController.ts
  src/app/controllers/contactsController/contactsController.ts
  src/app/controllers/dialogController/dialogController.ts
  src/app/controllers/messageController/messageController.ts
  src/app/controllers/modalController/modalController.ts
  src/app/model/message.ts
  src/app/ws/ws.ts
  src/components/chatArea/chatArea.ts
  src/pages/about/about.ts
  src/pages/auth/auth.ts
  src/pages/chat/chat.ts
  src/services/state.service.ts
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

fix: fix bugs with context Message menu
  src/app/controllers/dialogController/dialogController.ts
  src/app/controllers/messageController/messageController.ts
  src/components/chatArea/chatArea.ts
  src/components/message/message.module.scss
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

feat: add contact img
  .DS_Store
  src/.DS_Store
  src/components/contact/contact.module.scss
  src/components/footer/footer.module.scss
  src/img/checked.svg
  src/img/contact.jpg
  src/img/double-checked.svg
  src/img/next.svg
  src/img/track-bg.png
Due: npm run prettier:fix, npm run stylelint:fix

fix: change event on Context Message menu
  src/app/controllers/messageController/messageController.ts
Due: npm run prettier:fix, npm run lint:fix

fix: fix Bug, that message should be near with input
  .stylelintrc.json
  src/components/appImageBlock/appImage.module.scss
  src/components/authForm/authForm.module.scss
  src/components/chatArea/chatArea.module.scss
  src/components/chatArea/chatArea.ts
Due: npm run prettier:fix, npm run stylelint:fix, npm run lint:fix

fix: fix bugs wuth stop server and blank messages
  src/app/controllers/appController.ts
  src/app/controllers/modalController/modalController.ts
  src/app/ws/ws.ts
  src/components/chatArea/chatArea.ts
Due: npm run prettier:fix, npm run lint:fix

fix: make routing without reload; refactor some models
  .DS_Store
  .eslintrc.json
  src/app/controllers/messageController/messageController.ts
  src/app/model/message.ts
  src/app/ws/ws.ts
  src/pages/about/about.ts
  src/pages/auth/auth.ts
Due: npm run prettier:fix, npm run lint:fix

Create README.md
  README.md
Due: npm run prettier:fix

Path conditions:
  npm run prettier:fix: any of: **.*
  npm run stylelint:fix: any of: *.{css,scss}
  npm run lint:fix: any of: *.{ts,js}
